<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Operation</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="options-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ng-container *ngFor="let transaction of transactions">
      <ion-item>
        <div class="flex w-100">
          <div class="flex-1">
            <ng-container *ngIf="transaction.type == 'Transfer'">
              <h6 class="text-wrap">{{ transaction?.transfer_to_account?.name || 'N/A' }}</h6>
            </ng-container>
            <ng-container *ngIf="transaction.type != 'Transfer'">
              <h6 class="text-wrap">{{ transaction?.category?.name || 'N/A' }}</h6>
            </ng-container>
            <p class="ion-no-margin ion-margin-top ion-margin-bottom text-wrap">{{ transaction.note || 'N/A' }}</p>
          </div>
          <div class="flex-1 text-right">
            <h6 class="text-red">{{ transaction.total_amount_formatted }}</h6>
            <p class="ion-no-margin ion-margin-top ion-margin-bottom">{{ transaction.date_formatted }}</p>
          </div>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCreateOperationModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isCreateOperationModalOpen" [breakpoints]="[0, .5, .75, 1]" [initialBreakpoint]=".5" (didDismiss)="closeCreateOperationModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeCreateOperationModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Create Operation</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-segment [(ngModel)]="activeSegment">
            <ion-segment-button [value]="SEGMENT.INCOME">Income</ion-segment-button>
            <ion-segment-button [value]="SEGMENT.EXPENSE">Expense</ion-segment-button>
            <ion-segment-button [value]="SEGMENT.TRANSFER">Transfer</ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ng-container *ngIf="activeSegment === SEGMENT.INCOME">
          <ion-grid>
            <ng-container *ngFor="let categories of incomeCategories">
              <ion-row>
                <ng-container *ngFor="let category of categories">
                  <ion-col [size]="6">
                    <ion-card class="ion-no-margin" (click)="openCreateOperationDetailModal()">
                      <ion-card-header>
                        <ion-card-title class="text-wrap">{{ category.name }}</ion-card-title>
                        <ion-card-subtitle>0</ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ng-container>
              </ion-row>
            </ng-container>
          </ion-grid>
        </ng-container>
        <ng-container *ngIf="activeSegment === SEGMENT.EXPENSE">
          <ion-grid>
            <ng-container *ngFor="let categories of expenseCategories">
              <ion-row>
                <ng-container *ngFor="let category of categories">
                  <ion-col [size]="6">
                    <ion-card class="ion-no-margin" (click)="openCreateOperationDetailModal()">
                      <ion-card-header>
                        <ion-card-title class="text-wrap">{{ category.name }}</ion-card-title>
                        <ion-card-subtitle>0</ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ng-container>
              </ion-row>
            </ng-container>
          </ion-grid>
        </ng-container>
        <ng-container *ngIf="activeSegment === SEGMENT.TRANSFER">
          <ion-grid>
            <ng-container *ngFor="let subAccounts of accounts">
              <ion-row>
                <ng-container *ngFor="let account of subAccounts">
                  <ion-col [size]="6">
                    <ion-card class="ion-no-margin" (click)="openCreateOperationDetailModal()">
                      <ion-card-header>
                        <ion-card-title class="text-wrap">{{ account.name }}</ion-card-title>
                        <ion-card-subtitle>{{ account.balance_formatted }}</ion-card-subtitle>
                      </ion-card-header>
                    </ion-card>
                  </ion-col>
                </ng-container>
              </ion-row>
            </ng-container>
          </ion-grid>
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-modal [isOpen]="isCreateOperationDetailModalOpen" (didDismiss)="closeCreateOperationDetailModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeCreateOperationDetailModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Create Operation Detail</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="ion-no-margin">
                <ion-card-header>
                  <ion-card-title class="text-wrap">Cash</ion-card-title>
                  <ion-card-subtitle>From</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="ion-no-margin">
                <ion-card-header>
                  <ion-card-title class="text-wrap">Food</ion-card-title>
                  <ion-card-subtitle>To</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-item>
            <ion-input type="number" placeholder="Amount"></ion-input>
          </ion-item>
        </ion-list>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="light">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="light">
                <ion-icon name="server-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="light">
                <ion-icon name="cash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <div class="ion-padding modal-button-container">
          <ion-button expand="block" color="success">
            <span style="color: #fff;">Save</span>
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
