<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="account" href="/home/account">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="category" href="/home/category">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="operation" href="/home/operation">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Operation</ion-label>
    </ion-tab-button>
    <ion-tab-button disabled tab="statistic" href="/home/statistic">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistic</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
